h1 {
	color: whitesmoke;
	font-family: helvetica;
	text-align: center;
	font-size: 50px;
	font-weight: 400;
    padding-top: 4%;
}

h2 {
	color: whitesmoke;
	font-family: helvetica;
	text-align: center;
	font-size: 40px;
}

h3 {
    color: whitesmoke;
    font-family: helvetica;
    font-weight: lighter;
    text-align: start;
    font-size: 25px;
}

body {
	background-color: #004AAD;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttons {
	display: flex;
	justify-content: center;
	
}

.btn {
display: inline-block;
  padding: 15px 25px;
  font-family:helvetica;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #004AAD;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;

}

/* On mouse-over */
.btn:hover {background-color: deepskyblue;}

.btn:active {
  background-color: midnightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-map {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

.paris{
    position: fixed;
    left: 47%;
    top: 23%;
    display: block;
}

.new-york{
    position: fixed;
    left: 28%;
    top: 28%;
}

.hawaii{
    position: fixed;
    left: 15%;
    top: 37%;
}

.seoul{
    position: fixed;
    left: 75%;
    top: 33%;
}

.buenos-aires{
    position: fixed;
    left: 33%;
    top: 65%;
}

.jaipur{
    position: fixed;
    left: 64%;
    top: 38%;
}
